<div class="container my-4 p-3" style="background-color: rgb(236, 236, 236);">

    <div class="jumbotron">
        <h1 class="display-4">About this Angular App</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aliquam rem corrupti, ipsa cumque ad in quae quos? Enim earum ipsum similique fugit modi repellendus. Dicta itaque iusto vel iure illum error cumque pariatur laboriosam? Explicabo id sapiente assumenda repellat?</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae delectus molestiae unde soluta consequatur architecto optio sapiente ipsam nobis ducimus.
        </p>
        <a class="btn btn-primary btn-lg" routerLink="/" role="button">Learn more</a>
    </div>
</div>